In [ ]:
first_name="Krish"
# "Krish" stored in some memory location and first_name refering to that memory location 


# wasam = 3 means that wasam refers to a certain memory location where 3 is stored 

#  3 is not store in wasam. wasam only holds the address where 3 is stored

In [3]:
height = 6.3
## Float into integer 
## Type conversion 
## Type Casting

int(height)

6

In [5]:
# Time counter 
import time
t=1
def counter ():
    global t
    time.sleep(1)
    print(t)
    t+=1

while True:
    counter ()

1
2
3
4
5
6

KeyboardInterrupt:

In [7]:
# divide  will always give us float 

1/1
3/1
4/2

2.0

In [8]:
# Flour decimal //

3//2

1

In [9]:
#  Tuple provide security so that other cannot change the data 
#  Here we are not changing the value  we are just reassigning it 
# If you want other to change the data use list otherwise use tuples

a = ("bio", "name", "id", [1,2], "hello")
print(type(a))
hex(id(a))

<class 'tuple'>

'0x10b0be160'

In [11]:
a[0]

'bio'

In [12]:
a[0] = "was"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Un-Ordered (Sets)
# Unorder means when we will run the code it will not maintain the original order 
# unordered collection of unique, mutable elements
# elements not repeated 
a = {2,1,3,5,6,2,2,2,2, "add"}
a.add(0)
print(a)

{0, 1, 2, 3, 'add', 5, 6}

In [15]:
{"Wasam",{1,0,-1}}

TypeError: unhashable type: 'set'

In [16]:
a = 001
#  001 is not a number

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2827472298.py, line 1)

In [17]:
fruits = ["apples", "oranges", "grapes"]

In [18]:
iterable = iter(fruits)

In [19]:
print(next(iterable))

apples

In [20]:
print(next(iterable))

oranges

In [ ]:
print(next(iterable))
# Getting each element one by one is called traversing
# For loop internally create iter , next next next......

grapes

In [22]:
print(next(iterable))

StopIteration:

In [26]:
for i in 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [28]:
for element in range(0,10):
    print(element)

0
1
2
3
4
5
6
7
8
9

In [27]:
for element in range(10):
    print(element)

# 0 is start bydefault
# 1 is step is size by default

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
# problem statments
# there is a defaulter which we don't want to include for the attendance
# continue always work inside a loop 
# continue will skip the current execution of the loop and move to the next iteration
#  Continue basically changes the flow of the for loop 

student_id = 6

for i in range(1, 11):
    if i == student_id:
        continue
    print("Student id : ", i)

Student id :  1
Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  7
Student id :  8
Student id :  9
Student id :  10

In [31]:
student_ids = [1,6,7,8]

for i in range(1, 11):
    if i in student_ids:
        continue
    print("Student id : ", i)

Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  9
Student id :  10

In [32]:
student_id = 4

for i in range(1, 11):
    if i == student_id:
        break
    print("Student id : ", i)
print("hello")

Student id :  1
Student id :  2
Student id :  3
hello

In [ ]:
#  Example

id = 1
patient_info = {}

def calculate_bmi(weight_kg, height_cm):
    bmi = weight_kg / ((height_cm/100)**2)
    return bmi


def patient_admission(f_name, l_name, date_ddmmyy, weight_kg, height_cm, country_lower_case):
    global id
    global patient_info

    patient_info[id] = {}

    patient_info[id]["f_name"] = f_name
    patient_info[id]["l_name"] = l_name
    patient_info[id]["date_ddmmyy"] = date_ddmmyy
    patient_info[id]["weight_kg"] = weight_kg
    patient_info[id]["height_cm"] = height_cm
    patient_info[id]["country"] = country_lower_case
    patient_info[id]["temp_ind"] = None
    patient_info[id]["temp_others"] = None
    patient_info[id]["bmi"] = calculate_bmi(weight_kg, height_cm)

# Every variable is initialized => that is a good way to write a code 

    if country_lower_case == "india":
        patient_info[id]["temp_ind"] = float(input("Enter patient temperature in celcius : "))
    else :
        patient_info[id]["temp_others"] = float(input("Enter patient temperature in fahrenheit: "))

    # increament the id
    id+=1

## # If you want more detail look for folder 9 

* contains details about try,except,else, finally, raise 
* 9-2 and 9-3 shows how to close the application

In [ ]:
# If you want more detail look for folder 9 


# try:
    # Code that might raise an error
# except SomeError:
    # Handle the error
# else:
    # Run if no error happens
# finally:
    # Always runs â€” for cleanup



# ðŸ§  Use with to manage resources cleanly.
# ðŸ§¼ Use else for success logic.
# ðŸ§¯ Use finally for cleanup.

In [33]:
#  Raise 

# âœ… Why do professionals use raise?
# Because:

# You catch bad inputs early

# You create clear error messages

# You avoid weird bugs later


def process_temperature(temp):
    if temp < -273.15:
        raise ValueError("Temperature below absolute zero!")
    print(f"Processing {temp}Â°C")

try:
    process_temperature(-500)
except ValueError as e:
    print("Error:", e)

Error: Temperature below absolute zero!