### Assignment 1

* Step 1 

    Ask user name , phone no , email address and group 

    We will ask it and store it in database.txt file 

* Step 2.1 (Search contact via name ) 

    Ask user to input  name 

    search in database for the name and bring all the entries starting with that name 

* Step 2.2 (Search contact via group (group are name and office ) ) 

    Ask user to input  group 

    search in database for the group  and bring all the entries having that group 

* Step 2.3 Deleting entry based on that phone no

    Ask user to input  contact 

    search in database for the contact and delete it

In [28]:
name = input("Please enter your name: ")
phone_no = input("please enter your phone no:")
email_address = input("Please enter your email address")
group = input("Please enter  group - Home or Office :")

person_entry = name + "," + phone_no + "," + email_address + "," + group + "\n"


with open("./database.txt", "a+") as f :
    f.write(person_entry)

In [24]:
# Step 2.1 (Search contact via name ) 

#     Ask user to input  name 

#     search in database for the name and bring all the entries  with that name 

def search_contact_via_name():
    Search_name = (input("Enter name that you want to search: ")).lower()
    with open("./database.txt", "r+") as f:
        all_entries = f.readlines()
        for single_entry in all_entries:
            single_entry_list = single_entry.split(",")
            if (Search_name in single_entry_list[1].lower()) and Search_name != "":
                print(single_entry)


search_contact_via_name()

chaudhry ali,3428716984651,ali@gmail.com,home

In [13]:
#  Step 2.2 (Search contact via group (group are name and office ) ) 

#     Ask user to input  group 

#     search in database for the group  and bring all the entries having that group 


def search_contact_via_group():
    Search_group = (input("Enter group that you want to search: ")).lower()
    with open("./database.txt", "r+") as f:
        all_entries = f.readlines()
        for single_entry in all_entries:
            single_entry_list = single_entry.split(",")
            if (Search_group in single_entry_list[3].lower()) and Search_group != "":
                print(single_entry)

search_contact_via_group()

chaudhry ali,67567676847i,ali@gmail.com,Home

chaufhry wasam ,8948398928937,wasam@gmail.com,Home

In [55]:
# Step 2.3 Deleting entry based on that phone no

#     Ask user to input  contact 

#     search in database for the contact and delete it 

def del_contact_via_phone_no():
    Search_phone_no = (input("Enter phone no of the entry that you want to delete: "))
    new_list = []
    with open("./database.txt", "r") as f:
        all_entries = f.readlines()
        for single_entry in all_entries:
            single_entry_list = single_entry.split(",")
            print("--" + Search_phone_no +"--")
            print("--" +single_entry_list[1] +"--")
            print(Search_phone_no == single_entry_list[1])
            if (Search_phone_no not in single_entry_list[1]) and Search_phone_no != "":
                new_list.append(single_entry)
                print("--1", new_list , "---")
        print("--2", new_list , "---")
    with open("./database.txt", "w+") as f:
        f.writelines(new_list)
                

del_contact_via_phone_no()

--8435098216--
--8943872548--
False
--1 ['wasam,8943872548,wasam@gmail.com,home\n'] ---
--8435098216--
--8435098216--
True
--8435098216--
--89413208943--
False
--1 ['wasam,8943872548,wasam@gmail.com,home\n', 'ali raza,89413208943,aliraza@gmail.com,office\n'] ---
--2 ['wasam,8943872548,wasam@gmail.com,home\n', 'ali raza,89413208943,aliraza@gmail.com,office\n'] ---

In [ ]:
wasam,8943872548,wasam@gmail.com,home
ali chaudhry ,8435098216,ali@gmail.com,office
ali raza,89413208943,aliraza@gmail.com,office

In [38]:
list_1 = ["123", "3456"]
idd = 1
if idd == 1:
    list_1.append("2222")

print(list_1)

['123', '3456', '2222']

In [39]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222']

In [37]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222', '2222']

In [40]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222', '2222']

In [41]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222', '2222', '2222']

In [42]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222', '2222', '2222', '2222']

In [43]:
print (list_1)
list_1.append("2222")

['123', '3456', '2222', '2222', '2222', '2222', '2222']

In [44]:
for n in range(3):
    list_1.append("2222")

In [45]:
print(list_1)

['123', '3456', '2222', '2222', '2222', '2222', '2222', '2222', '2222', '2222', '2222']